<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bankHui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FAEC8EF1C90211100A001C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAEC9081C90211100A001C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAEC9131C90211100A001C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
